{% extends "abstracts/panel.html" %}

{% block content %}
    <div style="margin-left: 20%; margin-right: 7%; padding:1px 16px;height:1000px;">
        <h1>Dashboard</h1>

        <nav class="admin-dashboard-cards">

            <h2><a href="{{ url_for('register') }}">Create User</a></h2>

            <!--<h2><a href="#">Search User</a></h2>-->
        </nav>



        <img style="margin-top: 15px; margin-right: 15px; float: left ;" src="{{ url_for('static', filename='img/icons/icons8-minimum-order-32.png') }}" alt="new messages" href="#website" height="25" width="50">

        <h3>Users {{ users.total }}</h3>
        <div class="admin-new-orders">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Admin</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Created</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td><a href="#">{{ user.id }}</a></td>
                    <td>{{ user.admin }}</td>
                    <td><a href="#">{{ fernet.decrypt(user.email.encode()).decode() }}</a></td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user. username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.created }}  
                    <!--    <a style ="float: right; margin-left: 10px;" href="#"><img class="img-fluid" width="25px" height="25px" src="{{ url_for('static', filename='img/icons/icons8-trash-50.png') }}"></a> 
                        <a style="float: right" href="#"><img class="img-fluid" width="25px" height="25px" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='img/icons/icons8-edit-50.png') }}"></a> 
                    --></td>
                </tr>
                {% endfor %}

            </table>
        </div>


    </div>
{% endblock content %}