{% extends "abstracts/index.html" %}

{% block content %}
    <div class="col col-lg-12 col-12 css-gray-background py-3">
        <h4 class="">Gallery Showcase</h4>

        <div class="container">
            <div class="row">
                {% for message in messages %}
                                
                    <div class="col col-md-4 col-12 mb-4">
                        <div class="card gallery-card h-100">
                            <div class="gallery-img-wrapper">
                                <img src="{{ url_for('static', filename='img/db/products/' + fernet.decrypt(message.gallery_1.encode()).decode()) }}"
                                     class="gallery-img"
                                     alt="{{ fernet.decrypt(message.title.encode()).decode() }}">
                                <div class="gallery-overlay"></div>
                            </div>

                            <div class="card-body text-center">
                                <h5 class="card-title gallery-title">
                                    {{ fernet.decrypt(message.title.encode()).decode() }}
                                </h5>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>

        </div>
    </div>


{% endblock content %}