{% extends "abstracts/panel.html" %}

{% block content %}
    <div style="margin-left: 20%; margin-right: 7%; padding:1px 16px;height:1000px;">
        <h1>Dashboard</h1>

        <nav class="admin-dashboard-cards">
            <div class="card-container">

                <div class="card" style="background: #1E83C2">
                    <h2>Unread Messages</h2>
                    <img src="{{ url_for('static', filename='img/icons/icons8-messages-50.png') }}" alt="new messages" href="#website" height="45" width="90">
                </div>

                <div class="card" style="background: #5CE85B">
                    <h2>New Requests</h2>
                    <img src="{{ url_for('static', filename='img/icons/icons8-list-64.png') }}" alt="new messages" href="#website" height="45" width="90">
                </div>

                <div class="card" style="background: #FFB64B">
                    <h2>Active Orders</h2>
                    <img src="{{ url_for('static', filename='img/icons/icons8-maximum-order-32.png') }}" alt="new messages" href="#website" height="45" width="90">
                </div>

                <div class="card" style="background: #E74F4B">
                    <h2>Profit Time!</h2>
                    <img src="{{ url_for('static', filename='img/icons/icons8-profit-30.png') }}" alt="new messages" href="#website" height="45" width="90">
                </div>

            </div>
        </nav>



        <img style="margin-top: 15px; margin-right: 15px; float: left ;" src="{{ url_for('static', filename='img/icons/icons8-minimum-order-32.png') }}" alt="new messages" href="#website" height="25" width="50">
        <h3>New Orders</h3>
        <div class="admin-new-orders">
            <table>
                <tr>
                    <th>Order Number</th>
                    <th>Customer Email</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Shipping</th>
                    <th>Date</th>
                    <th>Total</th>
                </tr>
            </table>
        </div>


    </div>
{% endblock content %}